/*

NOTES and CREDITS:

1) AS IN HTML, ORDER OF STYLES VERY IMPORTANT, DON'T ALTER!! ALTERING WILL DISABLE SOME FUNCTIONS
2) Combined 3 different .css files, so there are 3 DIFFERENT DESIGNATED AREAS
3) EDITS to original styles marked via: CHANGED, ADDED

4) MOSAIC refers to LAYOUT, https://github.com/sapegin/jquery.mosaicflow
5) FIT TEXT refers to SCALABLE TITLE TEXT, https://github.com/davatron5000/FitText.js
6) DARK DROPDOWN MENU of course refers to the top responsive MENU, http://responsive-nav.com/
7) STICKY FOOTER SOLUTION refers to FIXING FOOTER to bottom using #outer, .footer and .push, http://ryanfait.com/sticky-footer/

*/










/* ============= SOURCE: needed classes added ============= */

.lobster {
        font-family: 'Lobster', cursive;
        color: #FFCA25;
        font-size:1em;
}
.lobster2 {
        font-family: 'Lobster', cursive;
        color: #FFCA25;
        font-size:21px;
}
.lobster3 {
        font-family: verdana;
        color: #00032D;
        font-size:0.9em;
        text-align:center;
}

/* FIT TEXT, https://github.com/davatron5000/FitText.js, Font-size = 1/10th of the element's width. */
#pinterest_font {
        width:100%;
        padding:10px 50px 0px 50px;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        /* clear: both; another workable option, puts title below menu .. make sure responsiveness not affected */
}
#pinterest_font2 {
        width:100%;
        padding:0px 50px 20px 50px;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        /* clear: both; another workable option, puts title below menu .. make sure responsiveness not affected */
}

.gallery {
        font-family: benjaminfranklin-webfont;
        color: #FFCA25 !important;
        font-size:1.3em !important;
        text-align:center;
        text-decoration: none;
}
.gallery:hover {
        font-family: benjaminfranklin-webfont;
        color: #FFCA25 !important;
        font-size:1.3em !important;
        text-align:center;
        text-decoration: underline;
}
.gallery2 {
        font-family: benjaminfranklin-webfont;
        color: #d0c980 !important;
        font-size:1.3em !important;
        text-align:center;
        text-decoration: none;
}
.gallery2:hover {
        font-family: benjaminfranklin-webfont;
        color: #d0c980 !important;
        font-size:1.3em !important;
        text-align:center;
        text-decoration: none;
}

/* footer div moved to under body for preeminence of !important bg color */
.footer_text {
	    position:relative;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        padding:40px;
        text-align:center;
        font-family: verdana;
        color: #454A4D !important;
        font-weight:bold;
	    font-size:12px;
}

#outer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

/* STICKY FOOTER SOLUTION using #outer, .footer and .push, http://ryanfait.com/sticky-footer/ */
.push {
        height:14em;
        clear:both;
}










/* ============= SOURCE: EXTRACTED from original RESPONSIVE LAYOUT build (Mosaic) from sapegin on GitHub, https://github.com/sapegin/jquery.mosaicflow ============= */

.mosaicflow__column {
	float:left;
	}

.mosaicflow__item {
	position:relative;
        padding:20px; /* ADDEDx */
        background: #DE1B22; /* ADDED */
        -moz-border-radius: 7px; /* ADDED */
        border-radius: 7px; /* ADDED */
        margin:5px 5px 9px 5px; /* ADDED */
        font-family: verdana;
        color: #aaa !important; /* hsla(2, 0%, 7%, 1.0); !important; hex equivalent is 333, http://www.workwithcolor.com/hsl-color-picker-01.htm */
        font-weight:bold;
	 font-size:13px;
        text-align:center;
        border:0;
	}
	.mosaicflow__item img {
		display:block;
		width:100%;
		max-width:500px;
		height:auto;
		}
	/* .mosaicflow__item p {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		margin:0;
		padding:5px;
		background:hsla(0,0%,0%,.5);
		color:#fff;
		font-size:14px;
		text-shadow:1px 1px 1px hsla(0,0%,0%,.75);
		opacity:0;
		-webkit-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
		   -moz-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
		     -o-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
		        transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
		} */
	.mosaicflow__item p {
		margin-top:7px;
		}
	/* .mosaicflow__item:hover p {
		opacity:1;
		} */



*{padding:0;margin:0;-moz-box-sizing:border-box;box-sizing:border-box}



a img{display:block}
a.img{border:none !important;background-image:none !important}



.group:before,.clearfix:before,.group:after,.clearfix:after{content:"";display:table}
.group:after,.clearfix:after{clear:both;zoom:1}



html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}



html{-webkit-font-smoothing:subpixel-antialiased}
input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer}



body {
    /* background:url(../img/); CHANGED, was #f9970d url("../img/twitter-sapegin-background.png") .. scaling for androids solution: http://stackoverflow.com/questions/12609110/responsive-css-background-images */
    background-image: url("../img/new_bg.jpg"); /* ADDED */
    background-position: 0px 0px; /* ADDED */
    background-repeat: repeat-x; /* ADDED */
    background-color: #0E0E0E !important; /* CHANGED, was #262B32 */
    /* background-repeat:no-repeat;  .. REMOVED */
    /* background-position:center;  .. REMOVED */
    /* background-size:100% CHANGED, was 100% 100% .. REMOVED */
    /* background-attachment:fixed !important;  .. REMOVED */
    line-height:1.4;
    padding:0; /* CHANGED, was 0 10px */
}

#footer { background-color: #C0392B !important; padding:40px 20px 20px 30px; text-align:center; }


.wrapper{position:relative;margin:20px auto 20px;max-width:1200px;padding:15px 20px 20px;} /* CHANGED, 1) took out:
-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.4);box-shadow:0 5px 10px rgba(0,0,0,0.4) at end, 2) increased width to 1200px */



a{text-decoration:underline;-webkit-transition:border .1s ease-in-out,color .2s ease-in-out,background .2s ease-in-out;-moz-transition:border .1s ease-in-out,color .2s ease-in-out,background .2s ease-in-out;-ms-transition:border .1s ease-in-out,color .2s ease-in-out,background .2s ease-in-out;-o-transition:border .1s ease-in-out,color .2s ease-in-out,background .2s ease-in-out;transition:border .1s ease-in-out,color .2s ease-in-out,background .2s ease-in-out}

a:link,nav a:visited,a.fake:visited{color:#d0c980;}
a:visited{color:#d0c980;}
a:hover,a:active,a:focus,nav a:hover,nav a:active,nav a:focus,a.fake:hover,a.fake:active,a.fake:focus{color: #fff;}
a:active{position:relative;top:1px}

::-moz-selection{color:#000;background:#faedb1;text-shadow:none}

::selection{color:#000;background:#faedb1;text-shadow:none}

a:link{-webkit-tap-highlight-color:#d0c980;}

h1{font-size:48px;margin:0;line-height:1;font-weight:normal;letter-spacing:-.2px;text-shadow:0 1px 4px rgba(0,0,0,0.2)}
h2,h3{line-height:40px;margin:16px 0 0;font-weight:normal;letter-spacing:-.2px}
h2{font-size:24px}
h3{font-size:22px;font-style:italic;text-align:center}



.mosaicflow{margin:0 -20px 50px}










/* ============= SOURCE: EXTRACTED from original DROPDOWN MENU build from Responsive Nav (demos: ie-support-using-respondjs), http://responsive-nav.com ============= */

/* ------------------------------------------
  NECESSARY STYLES FOR RESPONSIVE NAV
--------------------------------------------- */

#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

#nav li {
  width: 100%;
  display: block;
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#nav.opened {
  max-height: 9999px;
}

@media screen and (min-width: 120em) {
  .js #nav {
    position: relative;
    max-height: none;
  }
  #nav-toggle {
    display: none;
    z-index:200 !important; /* ADDED, link wasn't hot on Android */
  }
}


/* ------------------------------------------
  DEMO PAGE'S STYLES
--------------------------------------------- */
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0; 
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  /* background: #fff; */
  font: normal 100%/1.4 sans-serif;
}

#nav,
#nav * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#nav,
#nav ul {
  list-style: none;
  width: 100%;
  float: left;
}

#nav li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 120em) {
  #nav li {
    width: 25%;
    *width: 24.9%; /* IE7 Hack */
    _width: 19%; /* IE6 Hack */
  }
}

#nav a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background: #333; /* WAS #f4421a */
  /* border-bottom: 1px solid white; */
  padding: 0.7em 1em;
  float: left;
  -webkit-transition: background-color 300ms ease-out; /* ADDED */
  -o-transition: background-color 2s ease-out; /* ADDED */
  -moz-transition: background-color 300ms ease-out; /* ADDED */
}
/*ADDED */
#nav a:hover {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background: #2B2B2B;
  /* border-bottom: 1px solid white;*/
  padding: 0.7em 1em;
  float: left;
  -webkit-transition: background-color 300ms ease-out; /* ADDED */
  -o-transition: background-color 2s ease-out; /* ADDED */
  -moz-transition: background-color 300ms ease-out; /* ADDED */
}

@media screen and (min-width: 120em) {
  #nav a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid white;
  }
}

#nav ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 120em) {
  #nav ul ul a {
    display: none;
  }
}

#nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../img/hamburger3.png") no-repeat 50% 33%; /* WAS #f4421a,#333, but was loading blank color so removed bg color */
  z-index:200 !important; /* ADDED, link wasn't hot on Android */
}

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  #nav-toggle {
    background-image: url("../img/hamburger-retina3.png");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px;
    z-index:200 !important; /* ADDED, link wasn't hot on Android */
  }
}

/* ADDED, for DARK DROPDOWN MENU only */
.divider {
  border-bottom: solid 1px #4d4d4d;
  border-top: solid 1px #1a1a1a;
  /* clear: both; .. can't use this as this clears floating, NEEDED FOR RESPONSIVE */ 
  height: 1px;
  width: 100%;
  margin-top:-2px; /* ADDED, HIDES WHITE SPACE */
}




/* ADDED FOR zocial FOOTER */
.follow_us a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}

/*Social Icons */
.follow_us {text-align:center;}
.follow_us a.zocial { 
	font-size:36px;
	width:77px;
	margin:0 10px 0 0;
	text-align: center;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	background:transparent;
	opacity:0.2;
	position:relative;
	top: -4px;
	left: -5px;
}
.follow_us a.zocial:hover {opacity:1.0; background:transparent; }

/* ADDED */
a.zocial_lil {
       font-size:18px !important;
       color:#afb1ab !important;
}
.follow_uszzz {text-align:center;}
.follow_uszzz a.zocial_lil { 
	font-size:36px;
	width:77px;
	margin:0 10px 0 0;
	text-align: center;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	background:transparent;
	opacity:0.8;
}
.follow_uszzz a:hover, a:focus {
  color: #fff;
  text-decoration: none;
  opacity:1.0 !important;
  background:transparent;
}