/*
 * Style tweaks
 * --------------------------------------------------
 */
html {
  position: relative;
  min-height: 100%;
}
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  /* padding-top: 70px; */
  color: #FEFED9 !important;
  font-family: 'lato-bold';
  font-size:14px; /* DEFAULT FONT SIZE .. USE EM'S EVERYWHERE ELSE */
  background-color:#FFFDD8;
  width:100% !important;
  overflow:hidden !important;
  margin:0px !important;
}
/* LARGER FONT FOR MOBILE */
@media screen and (max-width: 767px) {
body {
  font-size:19px;
 }
}

/* ADDED */
/* For color background */
body a {
  color:#FEFED9;
  text-decoration: none;
}
body a:hover {
  color:#FEFED9;
  text-decoration: none;
}
/* For white background */
.whitebgnav {
    position: absolute;
    right: 20px;
}
.whitebgnav a {
  color:#2C3E50 !important;
  text-decoration: none;
}
.whitebg a:hover {
  color:#446CB3 !important;
  text-decoration: none;
}
    

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/* ADDED, beginning Jan 7 2015; max-width: zero to xx px, min-width: starting from xx px; also, difference between media and media screen: http://stackoverflow.com/questions/8549529/what-is-the-difference-between-screen-and-only-screen-in-media-queries */

@media screen and (max-width: 767px) {
 .togglebt {
    margin-top:50px;
 }
}

@media screen and (min-width: 767px) {
 .menutle {
    display:none;
 }
}

@media screen and (max-width: 767px) {
 .searchlgth {
    width:40%;
    font-size:18px;
 }
}

/* NEW STUFF .. do colors inline */
/* JUST FOR SPACING, NOT COLOR */
.bradius1 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding:10px 30px 30px 30px;
    /* margin:0px 0px 0px 0px; */
    /* width:33% !important; */
}
.bradius1a {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #239654;
    padding:10px 30px 30px 30px;
    /* margin:0px 0px 0px 0px; */
    /* width:33% !important; */
}
@media (min-width: 600px) {
.allstar {
  margin:-50px 100px 0px 100px !important;
 }
}
/* OLD STUFF .. A-I ALL DIFFERENT COLORS, DON'T USE FOR SINGLE ROWS */
.bradius1b {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #2ebf6c;
    padding:10px 30px 30px 30px;
    /* margin:0px 0px 0px 0px; */
    /* width:30% !important; */
}
.bradius1c {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #2ab364;
    padding:10px 30px 30px 30px;
    margin-right:-20px;
    width:34% !important; /* fix for 1 px discrepancy on far right border */
}
.bradius1d {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #239654;
    padding:10px 30px 30px 30px;
    /* margin:0px 0px 0px 0px; */
    /* width:33% !important; */
}
.bradius1e {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #1d8248;
    padding:10px 30px 30px 30px;
    /* margin:0px 0px 0px 0px; */
    /* width:30% !important; */
}
.bradius1f {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #145d33;
    padding:10px 30px 30px 30px;
    margin-right:-20px !important;
    width:34% !important; /* fix for 1 px discrepancy on far right border */
}
.bradius1g {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #364b3f;
    padding:10px 30px 30px 30px;
    /* margin:0px 0px 0px 0px; */
    /* width:33% !important; */
}
.bradius1h {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #2d3731;
    padding:10px 30px 30px 30px;
    /* margin:0px 0px 0px 0px; */
    /* width:30% !important; */
}
.bradius1i {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #252a27;
    padding:10px 30px 30px 30px;
    /* margin-right:-20px !important; */
    /* width:34% !important; fix for 1 px discrepancy on far right border */
}
.bradius2 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #52B3D9;
    padding:10px 10px 70px 10px;
    margin-bottom:10px;
    width:100% !important;
}

@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/lato-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-bold.svg#svglato-bold') format('svg'); /* Legacy iOS */
}

h1 {
  font-size:40px;
  font-family:lato-bold;
  color:#2C3E50;
  text-shadow:none!important; /* MAKE SURE THIS OVERRIDE IS EVERYWHERE FOR FLAT UI */
}
h2 {
  font-size:30px;
  font-family:lato-bold;
  color:#FEFED9;
  text-shadow:none!important; /* MAKE SURE THIS OVERRIDE IS EVERYWHERE FOR FLAT UI */
  text-decoration: none;
}

/* DEFAULT FONT SIZE */
p {
    font-family: Arial, Helvetica, sans-serif !important;
    color: #FEFED9 !important;
    font-size:1.3em !important;
}
.f1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #22313F; /* 145d33, FEFED9, 22313F */
    font-size:1.3em !important;
    padding-top:10px !important;
}
.f2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FEFED9; /* 145d33, FEFED9, 22313F */
    font-size:1.3em !important;
    padding-top:10px !important;
}
.f3 {
    font-family:lato-bold;
    color: #FEFED9; /* 145d33, FEFED9, 22313F */
    font-size:1.5em !important;
    padding-top:10px !important;
}
.f3b {
    font-family:lato-bold;
    color: #FEFED9; /* 145d33, FEFED9, 22313F */
    font-size:1.1em !important;
    padding-top:10px !important;
}
.f3c {
    font-family: Arial, Helvetica, sans-serif;
    color: #FEFED9; /* 145d33, FEFED9, 22313F */
    font-size:1em !important;
}
.f3d {
    font-family:lato-bold;
    color: #FEFED9; /* 145d33, FEFED9, 22313F */
    font-size:1.5em !important;
    padding-top:10px !important;
    text-align:right;
}
.f4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FEFED9; /* 145d33, FEFED9, 22313F */
    font-size:1.2em !important;
    padding-top:5px !important;
}
.f5 {
    font-family:lato-bold;
    color: #FEFED9; /* 145d33, FEFED9, 22313F */
    font-size:1.3em !important;
    /* padding-top:10px !important; */
}


.toggle_btn {
    font-size:1.1em !important;
    background-color: #52B3D9 !important;
    color:#000 !important;
    opacity:0.7;
}

@media screen and (max-width: 767px) {
  .tallfont {
    font-family:lato-bold;
    font-size:23px;
    text-transform: uppercase;
    color:#ECF0F1 !important;
    line-height:40px !important;
 }
}
.lnht {
        line-height:30px !important;
}
@media screen and (min-width: 767px) {
  .tallfont {
    font-family:lato-bold;
    /* font-family: 'Open Sans', sans-serif; */
    font-size:18px;
    text-transform: uppercase;
    color:#ECF0F1 !important;
    line-height:40px !important;
 }
}

.rsscolor {
    color:#3B4552;
}

@media screen and (max-width: 767px) {
  .audiowidth {
     width:100% !important;
 }
}
@media screen and (min-width: 767px) {
  .audiowidth {
     width:70% !important;
 }
}

@media screen and (min-width: 767px) {
  .podchange {
     display:none !important;
 }
}
@media screen and (max-width: 767px) {
  .podchange2 {
     display:none !important;
 }
}

@media screen and (min-width: 768px) {
 .gmjrtitle {
    font-family:lato-bold;
    font-weight:bold !important;
    font-size:7em;
    letter-spacing: -3px;
    text-transform: uppercase;
    color:#FEFED9 !important;
    line-height:60px !important;
    text-align:center;
    position:absolute;
    margin: 30px 0px 0px 0px !important;
    width:100%;
 }
}
@media screen and (max-width: 767px) {
 .gmjrtitle2 {
    font-family:lato-bold;
    font-weight:bold !important;
    font-size:3.5em;
    letter-spacing: -3px;
    text-transform: uppercase;
    color:#FEFED9 !important;
    line-height:60px !important;
    text-align:center;
    position:absolute;
    margin: 30px 0px 0px 0px !important;
    width:100%;
 }
}
@media screen and (max-width: 480px) {
 .gmjrtitle2 {
    font-family:lato-bold;
    font-weight:bold !important;
    font-size:2.5em;
    letter-spacing: -3px;
    text-transform: uppercase;
    color:#FEFED9 !important;
    line-height:60px !important;
    text-align:center;
    position:absolute;
    margin: 30px 0px 0px 0px !important;
    width:100%;
 }
}

/* highlighted text */
.textbg {
 background-color:#D2D7D3; !important;
 padding:8px 8px 8px 8px !important;
 opacity:1;
}

.widetitle {
    background: url(../img/football_long.jpg) no-repeat 0% 45%;
    margin:-20px 0px 0px 0px !important;
    position:relative;
    width:100% !important;
    background-size: cover;
}
@media screen and (max-width: 767px) {
.mobtitle {
    background: url(../img/football_long_mobile.jpg) no-repeat 0% 45%;
    margin:-20px 0px 0px 0px !important;
    position:relative;
    width:100% !important;
    height:140px !important;
 }
}


/* FOOTER -------------------- */

/* don't set height here, won't stick to bottom */
.footerstuff {
    color: #DADFE1;
    background: #1B1F1D;
    width:100% !important;
    margin-top:0px !important;
}
/* don't set height here, won't stick to bottom */
.map_pos {
    color: #DADFE1;
    background: #2C3440;
    width:100% !important;
    position:relative !important;
    bottom: -10px !important;
    top: 0px !important;
    overflow:hidden !important; /* nabs weird double scrolls when trying to stick footer to bottom */
}
.footer_content {
    color: #DADFE1;
    background: #1B1F1D;
}

/* zocial icons */
.follow_us {text-align:center;}
.follow_us a.zocial { 
    font-size:28px;
    width:77px;
    color:#FEFED9 !important; /* ADDED */
    margin:0 10px 0 0;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background:transparent;
    opacity:0.2;
}
.follow_us a.zocial:hover {opacity:1.0; background:transparent; }

.article_space {
    margin-bottom:100px;
}
.aspace {
  margin-top:30px !important;
}
.aspace2 {
  margin:30px 0px 350px 0px !important;
}
.aspace3 {
  margin:0px 0px 50px 0px !important;
}

.footer-container a {
  color:#484B43 !important;
  text-decoration: none;
}
.footer-container a:hover {
  color:#FFFDD8 !important;
  text-decoration: none;
}

.ftrfnt {
  margin:0 auto !important;
  width:100%;
  text-align:center;
  color:#484B43 !important;
  font-size:25px !important;
  text-align:left;
}
.ftrfnt2 {
  margin:0 auto !important;
  width:100%;
  text-align:center;
  color:#484B43 !important;
  font-size:25px !important;
  text-align:left;
  list-style-type:none;
}
.ftrfnt3 {
  margin:0 auto !important;
  width:80%;
  text-align:center;
  color:#484B43 !important;
  font-size:25px !important;
  text-align:center;
  list-style-type:none;
}

.ftrfnt a {
  color:#484B43 !important;
  text-decoration: none;
}
.ftrfnt a:hover {
  color:#FEFED9 !important;
  text-decoration: none;
}
.ftrfnt2 a {
  color:#484B43 !important;
  text-decoration: none;
}
.ftrfnt2 a:hover {
  color:#FEFED9 !important;
  text-decoration: none;
}
.ftrfnt3 a {
  color:#484B43 !important;
  text-decoration: none;
}
.ftrfnt3 a:hover {
  color:#FFFDD8 !important;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .stack {
      padding-top:40px;
 }
}



/* BOOTSTRAP OVERRIDE */
.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto;
  margin-left: auto;
}



.navbar-default {
  background-color: #239654;
  border-color: #239654;
}
.navbar-default .navbar-brand {
  color: #fffdd8;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fffdd8;
}
.navbar-default .navbar-text {
  color: #fffdd8;
}
.navbar-default .navbar-nav > li > a {
  color: #fffdd8;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fffdd8;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #239654;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fffdd8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fffdd8;
  background-color: #1d8248;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #239654;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fffdd8;
  background-color: #1d8248;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fffdd8;
  background-color: #1d8248;
}
.navbar-default .navbar-toggle {
  border-color: #239654;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1d8248;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fffdd8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #239654;
}
.navbar-default .navbar-link {
  color: #fffdd8;
}
.navbar-default .navbar-link:hover {
  color: #fffdd8;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fffdd8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fffdd8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fffdd8;
    background-color: #1d8248;
  }
}




/* FIX from Hernandez Roof project .. to fix 1 pixel thing above menu .. can also be used to push menu down for UI id position:relative is used .. have to realign when .fix2 and .logo used */
@media (max-width: 767px) {
.fix {
  position:absolute !important;
  width:100% !important;
  height:1px !important;
  background-color: #239654 !important; /* 239654 */
  z-index:4000 !important;
  margin:57px 0px 0px 0px !important; /* without fix2: 51px 0px 0px 0px .. with fix2: 101px 0px 0px 0px .. with fix2 & logo: 151px 0px 0px 0px */
 }
/* weird opaque lines above and below tablet and mobile form */
.fix3 {
  position:absolute !important;
  width:100% !important;
  height:1px !important;
  background-color: #239654 !important; /* 239654 */
  z-index:4000 !important;
  margin:9px 0px 0px 0px !important;
  text-align:left;
  left:0 !important;
 }
.fix4 {
  position:absolute !important;
  width:100% !important;
  height:1px !important;
  background-color: #239654 !important; /* 239654 */
  z-index:4000 !important;
  margin:64px 0px 0px 0px !important;
  text-align:left;
  left:0 !important;
 }
.fix5 {
  position:absolute !important;
  width:100% !important;
  height:1px !important;
  background-color: #239654 !important; /* 239654 */
  z-index:4000 !important;
  margin:72px 0px 0px 0px !important;
  text-align:left;
  left:0 !important;
 }
.fix6 {
  position:absolute !important;
  width:100% !important;
  height:1px !important;
  background-color: #239654 !important; /* 239654 */
  z-index:4000 !important;
  margin:127px 0px 0px 0px !important;
  text-align:left;
  left:0 !important;
 }
.fix7 {
  position:absolute !important;
  width:100% !important;
  height:1px !important;
  background-color: #239654 !important; /* 239654 */
  z-index:4000 !important;
  margin:72px 0px 0px 0px !important;
  text-align:left;
  left:0 !important;
 }
.fix8 {
  position:absolute !important;
  width:100% !important;
  height:1px !important;
  background-color: #239654 !important; /* 239654 */
  z-index:4000 !important;
  margin:127px 0px 0px 0px !important;
  text-align:left;
  left:0 !important;
 }
}

.fix9 {
  position:absolute !important;
  width:100% !important;
  height:3px !important;
  background-color: #1D8248 !important; /* 1D8248 */
  z-index:4000 !important;
  margin:-20px 0px 0px 0px !important;
  text-align:left;
  left:0 !important;
 }



.btn-success2 {
  color: #fff;
  background-color: #239654 !important;
  border-color: #239654 !important;
}


.more {
  color:#FEFED9;
  font-size:1em;
}



@media (min-width: 767px) {
.hidethis {
  display:none !important;
 }
}
@media (max-width: 767px) {
.hidethis2 {
  display:none !important;
 }
}


/* COLLAPSED TEXT */
.colltext1 {
  max-width:100% !important;
  margin:0px 0px 0px 0px !important;
  color:#FFFDD8;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1em; /* WITH p, normalizes text size .. WITHOUT p text is bolder */
  line-height:24px;
  /* font-weight:lighter !important; */
  background:#364B3F;
  border:none !important;
}
.colltext2 {
  max-width:100% !important;
  margin:0px 0px 0px 0px !important;
  color:#FFFDD8;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1em; /* WITH p, normalizes text size .. WITHOUT p text is bolder */
  line-height:24px;
  /* font-weight:lighter !important; */
  background:#2d3731;
  border:none !important;
}
.colltext3 {
  max-width:100% !important;
  margin:0px 0px 0px 0px !important;
  color:#FFFDD8;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1em; /* WITH p, normalizes text size .. WITHOUT p text is bolder */
  line-height:24px;
  /* font-weight:lighter !important; */
  background:#252a27;
  border:none !important;
}
.colltext4 {
  max-width:100% !important;
  margin:0px 0px 0px 0px !important;
  color:#FFFDD8;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1em; /* WITH p, normalizes text size .. WITHOUT p text is bolder */
  line-height:24px;
  /* font-weight:lighter !important; */
  background:#1D8248;
  border:none !important;
}
.colltext5 {
  max-width:100% !important;
  margin:0px 0px 0px 0px !important;
  color:#FFFDD8;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1em; /* WITH p, normalizes text size .. WITHOUT p text is bolder */
  line-height:24px;
  /* font-weight:lighter !important; */
  background:#2D3731;
  border:none !important;
}



.allstrbtn {
  float:left;
  font-size:1.6em;
  border-radius:10px;
  padding:5px 10px 5px 10px;
  background:#eee;
  opacity:0.4;
  margin:30px 30px 30px 30px !important;
}
.combinefx {
  margin:30px 100px 30px 100px !important;
}


.signup {
  width:50%;
}
@media screen and (max-width: 767px) {
.signup {
  width:70%;
 }
}




