/* used:
dev1_title
dev2
atxt2_title
atxt_title
*/

/* FOR TITLE AND CONTENT BACKGROUND AND BORDERS ONLY */
.dev1_title {
   padding: 4rem;
   background-color: rgba(244, 236, 170, 1); /* whitish .. former was orangy - rgba(247, 216, 103, 1) */
   border: 18px solid rgba(237, 205, 89, 1);
   /* opacity:0.9; */
}
@media screen and (max-width: 700px) {
.dev1_title {
   padding: 4rem 2rem 4rem 2rem;
   background-color: rgba(244, 236, 170, 1); /* whitish .. former was orangy - rgba(247, 216, 103, 1) */
   border: 18px solid rgba(237, 205, 89, 1);
   /* opacity:0.9; */
 }
}

/* don't change these, works in mozilla */
.topmar {
   margin:-66px 0px 12px 0px;
}
@media screen and (max-width: 680px) {
.topmar {
   margin:-30px 21px 12px 21px;
 }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.topmar {
   margin:-66px 0px 12px 0px !important;
 }
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 680px) {
.topmar {
   margin:-29px 21px 12px 21px !important;
 }
}

/* FOR TITLE FONT ONLY */
.atxt2_title {
   color:#393230 !important;
   font-family: 'Lemon', cursive;
   font-size:3em !important;
   width:60% !important;
   margin:0 auto !important;
   text-align: center !important;
}
@media screen and (max-width: 870px) {
.atxt2_title {
   color:#393230 !important;
   font-family: 'Lemon', cursive;
   font-size:3em !important;
   width:100% !important;
   margin:0 auto !important;
   text-align: center !important;
  }
}
@media screen and (max-width: 700px) {
.atxt2_title {
   color:#393230 !important;
   font-family: 'Lemon', cursive;
   font-size:2.3em !important;
   width:100% !important;
   margin:0 auto !important;
   text-align: center !important;
  }
}

/* FOR TITLE DESCRIPTION ONLY */
.atxt_title {
   color:#393230 !important;
   font-family: 'Lato', sans-serif !important;
   font-size:1.3em;
   width:60% !important;
   margin:0 auto !important;
   padding-top: 20px !important;
   text-align: center !important;
}
@media screen and (max-width: 700px) {
.atxt_title {
   color:#393230 !important;
   font-family: 'Lato', sans-serif;
   font-size:1.3em;
   width:60% !important;
   margin-top:20px !important;
   text-align: center !important;
 }
}

section h1 {
   display:none !important;
}

a {
   outline: 0 !important;
}
